# Entorno
DJANGO_SETTINGS_MODULE=global_exchange.settings.dev

# Seguridad
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_NAME_DEV=
DB_NAME_PROD=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

# Keycloak
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=